/********** Template CSS **********/
:root {
  --primary: #0aaef7;
  --secondary: #2b2e4a;
  --light: #f4f5f8;
  --dark: #1c1e32;
}

h1,
h2,
.font-weight-bold {
  font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
  font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
  font-weight: 500 !important;
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  transition: 0.3s;
  border: 1px solid #0aaef7;
}

.btn-square:hover,
.btn-sm-square:hover,
.btn-lg-square:hover {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #f70acb;
}

.btn-square.active,
.btn-sm-square.active,
.btn-lg-square.active {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #f70acb;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
  transition: 0.3s;
}

.back-to-top:hover,
.back-to-top.active {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
  border-radius: 50%;
}

.nav-bar::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: var(--dark);
}

.nav-bar::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
  padding: 30px 15px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--light);
  outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar-dark .navbar-nav .nav-link {
    padding: 10px 15px;
  }
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(28, 30, 50, 0.7);
  z-index: 1;
}

@media (max-width: 576px) {
  .carousel-caption h4 {
    font-size: 18px;
    font-weight: 500 !important;
  }

  .carousel-caption h1 {
    font-size: 30px;
    font-weight: 600 !important;
  }
}

.page-header {
  height: 400px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)),
    url(https://res.cloudinary.com/ddckh3nlb/image/upload/v1719396991/bg-banner-2_w4jl0h.png);
  background-attachment: fixed;
}

@media (max-width: 991.98px) {
  .page-header {
    height: 300px;
  }
}

.page-header-kontak {
  height: 400px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)),
    url(https://res.cloudinary.com/ddckh3nlb/image/upload/v1719462092/bg-banner-5_eqolrs.png);
  background-attachment: fixed;
}

@media (max-width: 991.98px) {
  .page-header-kontak {
    height: 300px;
  }
}

.page-header-lepas-kunci {
  height: 400px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)),
    url(https://res.cloudinary.com/ddckh3nlb/image/upload/v1719396999/bg-banner-4_k9p6sw.png);
  background-attachment: fixed;
}

@media (max-width: 991.98px) {
  .page-header-lepas-kunci {
    height: 300px;
  }
}

.page-header-mobil-dan-driver {
  height: 400px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)),
    url(https://res.cloudinary.com/ddckh3nlb/image/upload/v1719396995/bg-banner-3_w1iyne.png);
  background-attachment: fixed;
}

@media (max-width: 991.98px) {
  .page-header-mobil-dan-driver {
    height: 300px;
  }
}

.page-header-detail {
  height: 400px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)),
    url(https://res.cloudinary.com/ddckh3nlb/image/upload/v1719397003/bg-banner-detail_newqp1.png);
  background-attachment: fixed;
}

@media (max-width: 991.98px) {
  .page-header-detail {
    height: 300px;
  }
}

/* EDIT */
.service-item {
  height: 320px;
  background: #f4f5f8e6;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  transition: 0.5s;
}

.service-item:hover,
.service-item.active {
  background: var(--secondary);
}

.service-item h1,
.service-item h4 {
  transition: 0.5s;
}

.service-item:hover h1,
.service-item.active h1 {
  color: var(--dark) !important;
}

.service-item:hover h4,
.service-item.active h4 {
  color: var(--light);
}

/* EDIT */
.rent-item {
  padding: 30px;
  text-align: center;
  background: var(--light);
  transition: 0.5s;
  border: 1px solid;
  border-color: #0aaef7;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}

.rent-item:hover,
.rent-item.active {
  background: var(--secondary);
  border: 1px solid;
  border-color: #f70acb;
}

.rent-item h4 {
  transition: 0.5s;
}

.rent-item:hover h4,
.rent-item.active h4 {
  color: var(--light);
}

.team-item {
  padding: 30px 30px 0 30px;
  text-align: center;
  background: var(--light);
  transition: 0.5s;
}

.team-item:hover,
.owl-item.center .team-item {
  background: var(--secondary);
}

.team-item h4 {
  transition: 0.5s;
}

.owl-item.center .team-item h4,
.owl-item.center .rent-item h4 {
  color: var(--light);
}

.team-item .team-social {
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  background: var(--light);
}

.owl-item.center .team-item .team-social,
.owl-item.center .rent-item {
  background: var(--secondary);
}

.team-item:hover .team-social {
  opacity: 1;
  background: var(--secondary);
}

.team-carousel .owl-nav,
.related-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 60px;
  top: calc(50% - 30px);
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next,
.related-carousel .owl-nav .owl-prev,
.related-carousel .owl-nav .owl-next {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  font-size: 22px;
  transition: 0.5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover,
.related-carousel .owl-nav .owl-prev:hover,
.related-carousel .owl-nav .owl-next:hover {
  background: var(--secondary);
}

.vendor-carousel .owl-dots,
.testimonial-carousel .owl-dots {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vendor-carousel .owl-dot,
.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background: var(--secondary);
  transition: 0.5s;
}

.vendor-carousel .owl-dot.active,
.testimonial-carousel .owl-dot.active {
  width: 40px;
  height: 40px;
  background: var(--primary);
}

.testimonial-carousel .owl-item img {
  width: 80px;
  height: 80px;
}

.testimonial-carousel .owl-item .testimonial-item {
  height: 350px;
  transition: 0.5s;
  background: var(--light);
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--secondary);
}

.testimonial-carousel .owl-item .testimonial-item h1,
.testimonial-carousel .owl-item .testimonial-item h4 {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item h1 {
  color: var(--dark) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item h4 {
  color: var(--light);
}

.bg-banner {
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)),
    url(https://res.cloudinary.com/ddckh3nlb/image/upload/v1719396987/bg-banner_aoyfal.png);
  background-attachment: fixed;
}

.bg-banner-2 {
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)),
    url(https://res.cloudinary.com/ddckh3nlb/image/upload/v1719396995/bg-banner-3_w1iyne.png);
  background-attachment: fixed;
}

.responsive-map {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Rasio aspek 16:9 */
  height: 0;
  overflow: hidden;
}

.responsive-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.custom-btn-slide {
  transition: 0.3s;
}

.custom-btn-slide:hover {
  border-radius: 50px;
}

.custom-btn {
  height: 50px;
  width: 29%;
  padding-top: 11px;
  transition: 0.3s;
}

.custom-btn:hover {
  border-radius: 50px;
}

.non-selectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

/* Scrolling List */

#scrolling-list {
  list-style-type: none;
  padding: 0;
  max-height: 200px; /* atur ketinggian maksimum */
  overflow-y: auto; /* tambahkan penggulungan vertikal jika diperlukan */
}

#scrolling-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc; /* tambahkan garis pemisah */
}

#scrolling-list li:last-child {
  border-bottom: none; /* hapus garis pemisah dari elemen terakhir */
}

/* Underline */

.text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.underline {
  margin-top: 5px; /* Adjust the spacing between text and underline */
  width: 55px; /* Width of the underline */
  height: 5px; /* Height of the underline */
  background-color: #f70acb; /* Color of the underline */
  border-radius: 2px; /* Optional: Rounded corners */
  margin-bottom: 25px;
}

.banner {
  background: var(--light);
  padding: 10px; /* Padding konten */
  border-radius: 10px; /* Bentuk sudut */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Bayangan */
  transition: 0.5s; /* Animasi bayangan */
  cursor: pointer;
}

.banner .card-body {
  transition: border-color 0.3s ease-in-out;
  border: 1px solid var(--secondary);
}

.banner:hover .card-body {
  border-color: rgba(255, 255, 255, 0.5);
}

.banner:hover {
  background: var(--secondary);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1); /* Bayangan saat hover */
}

.banner-item {
  padding: 30px;
  text-align: center;
  background: rgba(10, 174, 247, 0.6);
  transition: 0.5s;
  border: 1px solid;
  border-color: #0aaef7;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}

.banner-item:hover,
.banner-item.active {
  background: var(--secondary);
  border: 1px solid;
  border-color: #f70acb;
  color: #2b2e4a;
}

.banner-item h3 {
  transition: 0.5s;
}

.banner-item:hover h3,
.banner-item.active h3 {
  color: rgba(255, 255, 255, 0.5);
}

.banner-item h4 {
  transition: 0.5s;
}

.banner-item:hover h4,
.banner-item.active h4 {
  color: rgba(255, 255, 255, 0.5);
}

.banner-item h6 {
  transition: 0.5s;
}

.banner-item:hover h6,
.banner-item.active h6 {
  color: rgba(255, 255, 255, 0.5);
}

.banner-item hr {
  transition: 0.5s;
  background-color: var(--dark);
}

.banner-item:hover hr,
.banner-item.active hr {
  background-color: rgba(255, 255, 255, 0.5);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a.dropdown-toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  transform: translateY(-50%);
}

.zoom-container {
  position: relative;
  overflow: hidden;
}

.zoom {
  transition: transform 0.5s ease;
}

.zoom:hover {
  transform: scale(2);
}

.lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 65px;
  height: 65px;
}

.zoom-container-2 {
  position: relative;
  overflow: hidden;
}

.zoom-2 {
  transition: transform 0.5s ease;
}

.zoom-2:hover {
  transform: scale(2);
}

.lens-2 {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 100px;
  height: 100px;
}

.card {
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px #0aaef7;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-body {
  padding: 20px;
}

.heading {
  font-size: 1.5em;
  color: #2b2e4a;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%; /* Lebar maksimum slider */
}

.slider {
  position: relative; /* Menjadikan slider sebagai referensi posisi untuk dots */
  display: flex; /* Mengatur container gambar menggunakan flexbox */
  transition: transform 0.5s ease; /* Animasi pergeseran */
}

.slider img {
  width: 100%; /* Gambar mengisi lebar slider */
  flex: 0 0 auto; /* Tidak mengubah ukuran gambar */
}

.slider-dots {
  position: absolute;
  bottom: 10px; /* Jarak dots dari bawah */
  left: 50%; /* Posisi horizontal dots di tengah */
  transform: translateX(-50%);
  text-align: center;
  z-index: 1; /* Membuat dots tampil di atas gambar */
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

.slider-container-2 {
  position: relative;
  overflow: hidden;
  width: 100%; /* Lebar maksimum slider */
}

.slider-2 {
  position: relative; /* Menjadikan slider sebagai referensi posisi untuk dots */
  display: flex; /* Mengatur container gambar menggunakan flexbox */
  transition: transform 0.5s ease; /* Animasi pergeseran */
}

.slider-2 img {
  width: 100%; /* Gambar mengisi lebar slider */
  flex: 0 0 auto; /* Tidak mengubah ukuran gambar */
}

.slider-dots-2 {
  position: absolute;
  bottom: 10px; /* Jarak dots dari bawah */
  left: 50%; /* Posisi horizontal dots di tengah */
  transform: translateX(-50%);
  text-align: center;
  z-index: 1; /* Membuat dots tampil di atas gambar */
}

.dot-2 {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot-2.active {
  background-color: #717171;
}

.slider-container-3 {
  position: relative;
  overflow: hidden;
  width: 100%; /* Lebar maksimum slider */
}

.slider-3 {
  position: relative; /* Menjadikan slider sebagai referensi posisi untuk dots */
  display: flex; /* Mengatur container gambar menggunakan flexbox */
  transition: transform 0.5s ease; /* Animasi pergeseran */
}

.slider-3 img {
  width: 100%; /* Gambar mengisi lebar slider */
  flex: 0 0 auto; /* Tidak mengubah ukuran gambar */
}

.slider-dots-3 {
  position: absolute;
  bottom: 10px; /* Jarak dots dari bawah */
  left: 50%; /* Posisi horizontal dots di tengah */
  transform: translateX(-50%);
  text-align: center;
  z-index: 1; /* Membuat dots tampil di atas gambar */
}

.dot-3 {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot-3.active {
  background-color: #717171;
}

.slider-container-4 {
  position: relative;
  overflow: hidden;
  width: 100%; /* Lebar maksimum slider */
}

.slider-4 {
  position: relative; /* Menjadikan slider sebagai referensi posisi untuk dots */
  display: flex; /* Mengatur container gambar menggunakan flexbox */
  transition: transform 0.5s ease; /* Animasi pergeseran */
}

.slider-4 img {
  width: 100%; /* Gambar mengisi lebar slider */
  flex: 0 0 auto; /* Tidak mengubah ukuran gambar */
}

.slider-dots-4 {
  position: absolute;
  bottom: 10px; /* Jarak dots dari bawah */
  left: 50%; /* Posisi horizontal dots di tengah */
  transform: translateX(-50%);
  text-align: center;
  z-index: 1; /* Membuat dots tampil di atas gambar */
}

.dot-4 {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot-4.active {
  background-color: #717171;
}

.slider-container-5 {
  position: relative;
  overflow: hidden;
  width: 100%; /* Lebar maksimum slider */
}

.slider-5 {
  position: relative; /* Menjadikan slider sebagai referensi posisi untuk dots */
  display: flex; /* Mengatur container gambar menggunakan flexbox */
  transition: transform 0.5s ease; /* Animasi pergeseran */
}

.slider-5 img {
  width: 100%; /* Gambar mengisi lebar slider */
  flex: 0 0 auto; /* Tidak mengubah ukuran gambar */
}

.slider-dots-5 {
  position: absolute;
  bottom: 10px; /* Jarak dots dari bawah */
  left: 50%; /* Posisi horizontal dots di tengah */
  transform: translateX(-50%);
  text-align: center;
  z-index: 1; /* Membuat dots tampil di atas gambar */
}

.dot-5 {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot-5.active {
  background-color: #717171;
}

.slider-container-6 {
  position: relative;
  overflow: hidden;
  width: 100%; /* Lebar maksimum slider */
}

.slider-6 {
  position: relative; /* Menjadikan slider sebagai referensi posisi untuk dots */
  display: flex; /* Mengatur container gambar menggunakan flexbox */
  transition: transform 0.6s ease; /* Animasi pergeseran */
}

.slider-6 img {
  width: 100%; /* Gambar mengisi lebar slider */
  flex: 0 0 auto; /* Tidak mengubah ukuran gambar */
}

.slider-dots-6 {
  position: absolute;
  bottom: 10px; /* Jarak dots dari bawah */
  left: 50%; /* Posisi horizontal dots di tengah */
  transform: translateX(-50%);
  text-align: center;
  z-index: 1; /* Membuat dots tampil di atas gambar */
}

.dot-6 {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot-6.active {
  background-color: #717171;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: black;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  z-index: 1; /* Membuat tombol navigasi tampil di atas gambar */
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.slider-item {
  position: relative;
  overflow: hidden;
}

.thumbnail-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  max-width: 300px; /* Sesuaikan dengan lebar maksimum yang diinginkan */
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.thumbnail-info h4, .thumbnail-info h5, .thumbnail-info h6, .thumbnail-info p, .thumbnail-info .rating {
  margin: 10px 0; /* Jarak antar elemen deskripsi */
  color: #ffffff;
}

.slider-item:hover .thumbnail-info {
  opacity: 1;
}

