/********** Template CSS **********/
:root {
  --primary: #0aaef7;
  --secondary: #2b2e4a;
  --light: #f4f5f8;
  --dark: #1c1e32;
}

h1,
h2,
.font-weight-bold {
  font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
  font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
  font-weight: 500 !important;
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  transition: 0.3s;
  border: 1px solid #0aaef7;
}

.btn-square:hover,
.btn-sm-square:hover,
.btn-lg-square:hover {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #f70acb;
}

.btn-square.active,
.btn-sm-square.active,
.btn-lg-square.active {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #f70acb;
}

.back-to-top {
  position: fixed;
  display: none;
  left: 30px;
  bottom: 30px;
  z-index: 99;
  transition: 0.3s;
}

.back-to-top:hover,
.back-to-top.active {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
  border-radius: 50%;
}

.nav-bar::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: var(--dark);
}

.nav-bar::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
  padding: 30px 15px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--light);
  outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar-dark .navbar-nav .nav-link {
    padding: 10px 15px;
  }
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(28, 30, 50, 0.7);
  z-index: 1;
}

@media (max-width: 576px) {
  .carousel-caption h4 {
    font-size: 18px;
    font-weight: 500 !important;
  }

  .carousel-caption h1 {
    font-size: 30px;
    font-weight: 600 !important;
  }
}

.page-header {
  height: 400px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)),
    url(https://res.cloudinary.com/ddckh3nlb/image/upload/v1719396991/bg-banner-2_w4jl0h.png);
  background-attachment: fixed;
}

@media (max-width: 991.98px) {
  .page-header {
    height: 300px;
  }
}

.page-header-kontak {
  height: 400px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)),
    url(https://res.cloudinary.com/ddckh3nlb/image/upload/v1719462092/bg-banner-5_eqolrs.png);
  background-attachment: fixed;
}

@media (max-width: 991.98px) {
  .page-header-kontak {
    height: 300px;
  }
}

.page-header-lepas-kunci {
  height: 400px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)),
    url(https://res.cloudinary.com/ddckh3nlb/image/upload/v1719396999/bg-banner-4_k9p6sw.png);
  background-attachment: fixed;
}

@media (max-width: 991.98px) {
  .page-header-lepas-kunci {
    height: 300px;
  }
}

.page-header-bulanan {
  height: 400px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)),
    url(https://res.cloudinary.com/ddckh3nlb/image/upload/v1719396991/bg-banner-2_w4jl0h.png);
  background-attachment: fixed;
}

@media (max-width: 991.98px) {
  .page-header-bulanan {
    height: 300px;
  }
}

.page-header-tahunan {
  height: 400px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)),
    url(https://res.cloudinary.com/ddckh3nlb/image/upload/v1719396987/bg-banner_aoyfal.png);
  background-attachment: fixed;
}

@media (max-width: 991.98px) {
  .page-header-tahunan {
    height: 300px;
  }
}

.page-header-mobil-dan-driver {
  height: 400px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)),
    url(https://res.cloudinary.com/ddckh3nlb/image/upload/v1719396995/bg-banner-3_w1iyne.png);
  background-attachment: fixed;
}

@media (max-width: 991.98px) {
  .page-header-mobil-dan-driver {
    height: 300px;
  }
}

.page-header-wedding-2 {
  height: 400px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)),
    url(https://res.cloudinary.com/ddckh3nlb/image/upload/v1724700919/Wedding-2_gcusun.png);
  background-attachment: fixed;
}

@media (max-width: 991.98px) {
  .page-header-wedding-2 {
    height: 300px;
  }
}

.page-header-detail {
  height: 400px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)),
    url(https://res.cloudinary.com/ddckh3nlb/image/upload/v1719397003/bg-banner-detail_newqp1.png);
  background-attachment: fixed;
}

@media (max-width: 991.98px) {
  .page-header-detail {
    height: 300px;
  }
}

/* EDIT */
.service-item {
  height: 320px;
  background: #f4f5f8e6;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  transition: 0.5s;
}

.service-item:hover,
.service-item.active {
  background: var(--secondary);
}

.service-item h1,
.service-item h4 {
  transition: 0.5s;
}

.service-item:hover h1,
.service-item.active h1 {
  color: var(--dark) !important;
}

.service-item:hover h4,
.service-item.active h4 {
  color: var(--light);
}

/* EDIT */
.rent-item {
  padding: 30px;
  text-align: center;
  background: var(--light);
  transition: 0.5s;
  border: 1px solid;
  border-color: #0aaef7;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}

.rent-item:hover,
.rent-item.active {
  background: var(--secondary);
  border: 1px solid;
  border-color: #f70acb;
}

.rent-item h4 {
  transition: 0.5s;
}

.rent-item:hover h4,
.rent-item.active h4 {
  color: var(--light);
}

.team-item {
  padding: 30px 30px 0 30px;
  text-align: center;
  background: var(--light);
  transition: 0.5s;
}

.team-item:hover,
.owl-item.center .team-item {
  background: var(--secondary);
}

.team-item h4 {
  transition: 0.5s;
}

.owl-item.center .team-item h4,
.owl-item.center .rent-item h4 {
  color: var(--light);
}

.team-item .team-social {
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  background: var(--light);
}

.owl-item.center .team-item .team-social,
.owl-item.center .rent-item {
  background: var(--secondary);
}

.team-item:hover .team-social {
  opacity: 1;
  background: var(--secondary);
}

.team-carousel .owl-nav,
.related-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 60px;
  top: calc(50% - 30px);
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next,
.related-carousel .owl-nav .owl-prev,
.related-carousel .owl-nav .owl-next {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  font-size: 22px;
  transition: 0.5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover,
.related-carousel .owl-nav .owl-prev:hover,
.related-carousel .owl-nav .owl-next:hover {
  background: var(--secondary);
}

.vendor-carousel .owl-dots,
.testimonial-carousel .owl-dots {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vendor-carousel .owl-dot,
.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background: var(--secondary);
  transition: 0.5s;
}

.vendor-carousel .owl-dot.active,
.testimonial-carousel .owl-dot.active {
  width: 40px;
  height: 40px;
  background: var(--primary);
}

.testimonial-carousel .owl-item img {
  width: 80px;
  height: 80px;
}

.testimonial-carousel .owl-item .testimonial-item {
  height: 350px;
  transition: 0.5s;
  background: var(--light);
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--secondary);
}

.testimonial-carousel .owl-item .testimonial-item h1,
.testimonial-carousel .owl-item .testimonial-item h4 {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-item h1 {
  color: var(--dark) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item h4 {
  color: var(--light);
}

.bg-banner {
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)),
    url(https://res.cloudinary.com/ddckh3nlb/image/upload/v1719396987/bg-banner_aoyfal.png);
  background-attachment: fixed;
}

.bg-banner-2 {
  background: linear-gradient(rgba(28, 30, 50, 0.9), rgba(28, 30, 50, 0.9)),
    url(https://res.cloudinary.com/ddckh3nlb/image/upload/v1719396995/bg-banner-3_w1iyne.png);
  background-attachment: fixed;
}

.responsive-map {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Rasio aspek 16:9 */
  height: 0;
  overflow: hidden;
}

.responsive-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.custom-btn-slide {
  transition: 0.3s;
}

.custom-btn-slide:hover {
  border-radius: 50px;
}

.custom-btn {
  height: 50px;
  width: 32%;
  padding-top: 11px;
  transition: 0.3s;
}

.custom-btn:hover {
  border-radius: 50px;
}

.non-selectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

/* Scrolling List */

#scrolling-list {
  list-style-type: none;
  padding: 0;
  max-height: 200px; /* atur ketinggian maksimum */
  overflow-y: auto; /* tambahkan penggulungan vertikal jika diperlukan */
}

#scrolling-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc; /* tambahkan garis pemisah */
}

#scrolling-list li:last-child {
  border-bottom: none; /* hapus garis pemisah dari elemen terakhir */
}

/* Underline */

.text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.underline {
  margin-top: 5px; /* Adjust the spacing between text and underline */
  width: 55px; /* Width of the underline */
  height: 5px; /* Height of the underline */
  background-color: #f70acb; /* Color of the underline */
  border-radius: 2px; /* Optional: Rounded corners */
  margin-bottom: 25px;
}

.banner {
  background: var(--light);
  padding: 10px; /* Padding konten */
  border-radius: 10px; /* Bentuk sudut */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Bayangan */
  transition: 0.5s; /* Animasi bayangan */
  cursor: pointer;
}

.banner .card-body {
  transition: border-color 0.3s ease-in-out;
  border: 1px solid var(--secondary);
}

.banner:hover .card-body {
  border-color: rgba(255, 255, 255, 0.5);
}

.banner:hover {
  background: var(--secondary);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1); /* Bayangan saat hover */
}

.banner-item {
  padding: 30px;
  text-align: center;
  background: rgba(10, 174, 247, 0.6);
  transition: 0.5s;
  border: 1px solid;
  border-color: #0aaef7;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
}

.banner-item:hover,
.banner-item.active {
  background: var(--secondary);
  border: 1px solid;
  border-color: #f70acb;
  color: #2b2e4a;
}

.banner-item h3 {
  transition: 0.5s;
}

.banner-item:hover h3,
.banner-item.active h3 {
  color: rgba(255, 255, 255, 0.5);
}

.banner-item h4 {
  transition: 0.5s;
}

.banner-item:hover h4,
.banner-item.active h4 {
  color: rgba(255, 255, 255, 0.5);
}

.banner-item h6 {
  transition: 0.5s;
}

.banner-item:hover h6,
.banner-item.active h6 {
  color: rgba(255, 255, 255, 0.5);
}

.banner-item hr {
  transition: 0.5s;
  background-color: var(--dark);
}

.banner-item:hover hr,
.banner-item.active hr {
  background-color: rgba(255, 255, 255, 0.5);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a.dropdown-toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  transform: translateY(-50%);
}

.zoom-container {
  position: relative;
  overflow: hidden;
}

.zoom {
  transition: transform 0.5s ease;
}

.zoom:hover {
  transform: scale(1);
}

.lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 45px;
  height: 45px;
}

.zoom-container-2 {
  position: relative;
  overflow: hidden;
}

.zoom-2 {
  transition: transform 0.5s ease;
}

.zoom-2:hover {
  transform: scale(1);
}

.lens-2 {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 70px;
  height: 70px;
}

.card {
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px #0aaef7;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-body {
  padding: 20px;
}

.heading {
  font-size: 1.5em;
  color: #2b2e4a;
}

/* SLIDER 1 */

.slider-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  display: block;
}

.slider-dots {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slider-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots .dot.active {
  background-color: #0aaef7;
}

/* SLIDER 2 */

.slider-container-2 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-2 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-2 img {
  width: 100%;
  display: block;
}

.slider-dots-2 {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slider-dots-2 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots-2 .dot.active {
  background-color: #0aaef7;
}

/* SLIDER 3 */

.slider-container-3 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-3 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-3 img {
  width: 100%;
  display: block;
}

.slider-dots-3 {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slider-dots-3 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots-3 .dot.active {
  background-color: #0aaef7;
}

/* SLIDER 4 */

.slider-container-4 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-4 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-4 img {
  width: 100%;
  display: block;
}

.slider-dots-4 {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slider-dots-4 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots-4 .dot.active {
  background-color: #0aaef7;
}

/* SLIDER 5 */

.slider-container-5 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-5 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-5 img {
  width: 100%;
  display: block;
}

.slider-dots-5 {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slider-dots-5 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots-5 .dot.active {
  background-color: #0aaef7;
}

/* SLIDER 6 */

.slider-container-6 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-6 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-6 img {
  width: 100%;
  display: block;
}

.slider-dots-6 {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slider-dots-6 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots-6 .dot.active {
  background-color: #0aaef7;
}

/* SLIDER 7 */

.slider-container-7 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-7 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-7 img {
  width: 100%;
  display: block;
}

.slider-dots-7 {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slider-dots-7 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots-7 .dot.active {
  background-color: #0aaef7;
}

/* SLIDER 8 */

.slider-container-8 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-8 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-8 img {
  width: 100%;
  display: block;
}

.slider-dots-8 {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slider-dots-8 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots-8 .dot.active {
  background-color: #0aaef7;
}

/* SLIDER 9 */

.slider-container-9 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-9 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-9 img {
  width: 100%;
  display: block;
}

.slider-dots-9 {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slider-dots-9 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots-9 .dot.active {
  background-color: #0aaef7;
}

/* SLIDER 10 */

.slider-container-10 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-10 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-10 img {
  width: 100%;
  display: block;
}

.slider-dots-10 {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slider-dots-10 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots-10 .dot.active {
  background-color: #0aaef7;
}

/* SLIDER 11 */

.slider-container-11 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-11 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-11 img {
  width: 100%;
  display: block;
}

.slider-dots-11 {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slider-dots-11 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots-11 .dot.active {
  background-color: #0aaef7;
}

/* SLIDER 12 */

.slider-container-12 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-12 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-12 img {
  width: 100%;
  display: block;
}

.slider-dots-12 {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slider-dots-12 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots-12 .dot.active {
  background-color: #0aaef7;
}

/* SLIDER 13 */

.slider-container-13 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-13 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-13 img {
  width: 100%;
  display: block;
}

.slider-dots-13 {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slider-dots-13 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots-13 .dot.active {
  background-color: #0aaef7;
}

/* SLIDER 17 */

.slider-container-17 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-17 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-17 img {
  width: 100%;
  display: block;
}

.slider-dots-17 {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slider-dots-17 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots-17 .dot.active {
  background-color: #0aaef7;
}

/* SLIDER 18 */

.slider-container-18 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-18 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-18 img {
  width: 100%;
  display: block;
}

.slider-dots-18 {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slider-dots-18 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots-18 .dot.active {
  background-color: #0aaef7;
}

/* SLIDER 19 */

.slider-container-19 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slider-19 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-19 img {
  width: 100%;
  display: block;
}

.slider-dots-19 {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slider-dots-19 .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots-19 .dot.active {
  background-color: #0aaef7;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

@media (max-width: 768px) {
  .prev-btn,
  .next-btn {
    padding: 5px;
  }
}

/* Thumbnail Info */

.slider-item {
  position: relative;
  overflow: hidden;
}

.thumbnail-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  max-width: 253px; /* Sesuaikan dengan lebar maksimum yang diinginkan */
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.thumbnail-info h4,
.thumbnail-info h5,
.thumbnail-info h6,
.thumbnail-info p,
.thumbnail-info .rating {
  margin: 10px 0; /* Jarak antar elemen deskripsi */
  color: #ffffff;
}

.slider-item:hover .thumbnail-info {
  opacity: 1;
}

/* Thumbnail Info 1 */

.slider-item {
  position: relative;
  overflow: hidden;
}

.thumbnail-info-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  max-width: 345px; /* Sesuaikan dengan lebar maksimum yang diinginkan */
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.thumbnail-info-1 h4,
.thumbnail-info-1 h5,
.thumbnail-info-1 h6,
.thumbnail-info-1 p,
.thumbnail-info-1 .rating {
  margin: 10px 0; /* Jarak antar elemen deskripsi */
  color: #ffffff;
}

.slider-item:hover .thumbnail-info-1 {
  opacity: 1;
}

/* Image Container Galeri */

/* Style untuk gambar */
.image-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.image-container-1 img {
  width: 20%;
  margin-right: 10px;
  cursor: pointer;
}

.image-container-1 img:last-child {
  margin-right: 0;
}

/* Style untuk modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 700px;
  background-color: transparent;
  border: 1px transparent;
  border-radius: 8px;
}

.modal-content img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

/* Slider styles */
.slider-14 {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.slider-images-14 {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-images-14 img {
  width: 18%;
  height: auto;
  cursor: pointer;
}

/* Modal styles */
.modal-1 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-1 {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 700px;
  background-color: transparent;
  border: 1px transparent;
  border-radius: 8px;
}

.modal-content-1 img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #333;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
}

/* Media query untuk menyesuaikan modal pada layar kecil (mobile) */
@media (max-width: 768px) {
  .modal-content {
    width: 90%;
  }
}

/* CSS untuk tombol WhatsApp */
#whatsapp-button {
  position: fixed;
  bottom: 20px; /* Jarak dari bawah */
  right: 20px; /* Jarak dari kanan */
  z-index: 1000; /* Pastikan tombol berada di atas elemen lain */
}

#whatsapp-button img {
  width: 60px; /* Ukuran tombol */
  height: 60px;
  border-radius: 50%; /* Membuat tombol berbentuk bulat */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Menambahkan efek bayangan */
}
